<p id="notice"><%= notice %></p>

<h1>Listing Humitemps</h1>

<table>
  <thead>
    <tr>
      <th>Humidity</th>
      <th>Temperature</th>
      <th>Measured at</th>
      <th>Created at</th>
      <th>Box</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @humitemps.each do |humitemp| %>
      <tr>
        <td><%= humitemp.humidity %></td>
        <td><%= humitemp.temperature %></td>
        <td><%= humitemp.measured_at %></td>
        <td><%= humitemp.created_at %></td>
        <td><%= humitemp.box %></td>
        <td><%= link_to 'Show', humitemp %></td>
        <td><%= link_to 'Edit', edit_humitemp_path(humitemp) %></td>
        <td><%= link_to 'Destroy', humitemp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Humitemp', new_humitemp_path %>
